link(rel="stylesheet", href="style.css")
sectio.nav
  h2 ikbal
  h1 OSMAN ERDEM KILIÇ 
  h3.span.loader
    span.m B
    span.m İ
    span.m L
    span.m G
    span.m İ
    span.m S
    span.m A
    span.m Y
    span.m A
    span.m R
    span.m &nbsp;
    span.m M
    span.m Ü
    span.m H
    span.m E
    span.m N
    span.m D
    span.m İ
    span.m S
    span.m İ
  .nav-container
    a.nav-tab(href="#tab-unity") UNITY
    a.nav-tab(href="#tab-web") WEB
    a.nav-tab(href="#tab-mobil") MOBİL
    a.nav-tab(href="#tab-sql") SQL
    a.nav-tab(href="#tab-csharp") C#
    span.nav-tab-slider
main.main
  section#tab-unity.slider
    h1 UNITY
    h2 Uzman olduğum ve en sevdiğim alan
  section#tab-web.slider
    h1 WEB
    h2 Kendimi her daim geliştirdiğim ve güzel internet siteleri tasarladığım alan
  section#tab-mobil.slider
    h1 MOBİL
    h2 Yeni başladığım mobil alanda yavaş yavaş gelişiyorum
  section#tab-sql.slider
    h1 SQL
    h2 Veritabanları konusunda okulda temel attım daha sonra kendimi geliştirdim.
  section#tab-csharp.slider
    h1 C#
    h2 ilk öğrendiğim yazılım dili olan C# uzmanlık alanımdır.
canvas.background
